node-red.txt
[{"id":"eb3c7fed.c548b","type":"http response","z":"6a8025f1.8e23dc","name":"","x":103.1190414428711,"y":284.9285659790039,"wires":[]},{"id":"6105f9c4.8e0f58","type":"mqtt out","z":"6a8025f1.8e23dc","name":"","topic":"xxxcmd/xxxxxpwrsckt/power","qos":"","retain":"","broker":"884e8ca3.7ea56","x":800,"y":260,"wires":[]},{"id":"f16f69bc.449a28","type":"http in","z":"6a8025f1.8e23dc","name":"","url":"/playroom_on","method":"get","swaggerDoc":"","x":110,"y":180,"wires":[["eb3c7fed.c548b","37a5b6db.47779a"]]},{"id":"37a5b6db.47779a","type":"function","z":"6a8025f1.8e23dc","name":"payloadon","func":"msg.payload=\"on\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":180,"wires":[["5d19d924.f2d9e8","a399f02.ced9d1","5e7df62f.1be488","c69f464.d18c3b8"]]},{"id":"ab2ba456.9759d8","type":"function","z":"6a8025f1.8e23dc","name":"payloadoff","func":"msg.payload=\"off\";\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":200,"wires":[["6105f9c4.8e0f58","5e7df62f.1be488"]]},{"id":"5d19d924.f2d9e8","type":"delay","z":"6a8025f1.8e23dc","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":200,"wires":[["ab2ba456.9759d8","f52c51c4.d939d"]]},{"id":"c69f464.d18c3b8","type":"change","z":"6a8025f1.8e23dc","name":"global_LastTriggered_false","rules":[{"t":"set","p":"LastTriggered","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":140,"wires":[[]]},{"id":"a399f02.ced9d1","type":"switch","z":"6a8025f1.8e23dc","name":"Test_LastTriggered","property":"LastTriggered","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":330,"y":260,"wires":[["6ade598f.08d378"]]},{"id":"f52c51c4.d939d","type":"delay","z":"6a8025f1.8e23dc","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":120,"wires":[["f651b89c.bab5d8"]]},{"id":"f651b89c.bab5d8","type":"change","z":"6a8025f1.8e23dc","name":"global_LastTriggered_true","rules":[{"t":"set","p":"LastTriggered","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":100,"wires":[[]]},{"id":"5e7df62f.1be488","type":"debug","z":"6a8025f1.8e23dc","name":"Payloadchange","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":140,"wires":[]},{"id":"884e8ca3.7ea56","type":"mqtt-broker","broker":"cloudbroker","port":"brokerport","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]